@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap');

%zeroPaddingMargin {
  padding: 0px;
  margin: 0px;
}

%flex {
  display: flex !important;
}

%flexMiddle {
  @extend %flex;
  justify-content: center;
  align-items: center;
}

%flexColumn {
  @extend %flex;
  flex-direction: column;
}

%fullWidth {
  width: 100%;
}
%fullAll {
  height: 100%;
  @extend %fullWidth;
}

%fontQuicksandBold {
  font-family: var(--font-default);
  font-weight: 700;
}

:global {
  :root {
    --black: #34363b;
    --grey: #f8f8f8;
    --blue: #8e99c5;
    --pink: #f67280;
    --white: #ffffff;
    --white-pink: #fffafb;
    --font-size-default: 0.625rem;
    --font-size-small: 0.425rem;
    --padding-small: 8px;
    --shadow-2-xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --font-default: 'Quicksand', sans-serif;
    font-size: 20pt;
  }

  body,
  html,
  #smile {
    padding: 0px;
    margin: 0px;
    background: var(--white-pink);
    height: 100%;
    overflow: hidden;
    width: 100%;
    font-family: var(--font-default);
    color: var(--black);
  }

  #smile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
button,
input {
  outline: none !important;
}
.layout {
  background: var(--white);
  width: 90%;
  position: relative;
  height: 570px;
  border-radius: 5px;
  box-shadow: var(--shadow-2-xl);
  @extend %flexColumn;
  &.logged {
    .dashboard {
      @extend %flex;
      flex-direction: row;
      @extend %fullAll;
      .sidebar {
        width: 60px;
        border-right: 1px solid var(--grey);
        .logo {
          text-align: center;
          padding: 15px 0px;
          width: 100%;
          @extend %flexMiddle;
        }
        .menu {
          list-style: none;
          padding: 0px;
          margin: 0px;
          li {
            padding: 10px 0px;
            margin: 10px 0px;
            @extend %flexMiddle;
            cursor: pointer;
          }
        }
      }
    }
  }
  .section {
    animation: fadeIn 0.2s;
    @extend %flex;
    flex: 1;
    @extend %fullAll;
    > * {
      @extend %fullAll;
    }
  }
  .card {
    @extend %flex;
    margin: auto !important;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    box-shadow: var(--shadow-md);
  }
}

.select,
.select:focus,
.select:hover,
.select:active {
  all: unset;
  outline: none !important;
  border: none !important;
  user-select: none;
  font-size: 0.525rem;
}

.flexCenter {
  @extend %flex;
  justify-content: center;
  align-items: center;
}
.animatedSvg {
  stroke-dasharray: 100;
  animation: dash 5s linear forwards infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
.fadeIn {
  animation: fadeIn 0.2s;
  animation-delay: 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
