@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap');

%zeroPaddingMargin {
  padding: 0px;
  margin: 0px;
}

%flex {
  display: flex;
}

%flexMiddle {
  @extend %flex;
  justify-content: center;
  align-items: center;
}
%flexColumn {
  @extend %flex;
  flex-direction: column;
}
%fullWidth {
  width: 100%;
}

%fontQuicksandBold {
  font-family: var(--font-default);
  font-weight: 700;
}

:global {
  :root {
    --black: #34363b;
    --pink: #f67280;
    --white: #ffffff;
    --white-pink: #fffafb;
    --shadow-2-xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --font-default: 'Quicksand', sans-serif;
    font-size: 24px;
  }

  body,
  html,
  #smile {
    paddding: 0px;
    margin: 0px;
    background: var(--white-pink);
    height: 100%;
    width: 100%;
    font-family: var(--font-default);
    color: var(--black);
  }
  #smile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.layout {
  background: var(--white);
  width: 88%;
  position: relative;
  height: 570px;
  border-radius: 20px;
  box-shadow: var(--shadow-2-xl);
  @extend %flexColumn;
  .content {
    display: flex;
    flex: 1;
    .children {
      padding: 5px;
      @extend %fullWidth;
      .setup {
        @extend %flexMiddle;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        @extend %flexColumn;
        @extend %zeroPaddingMargin;
        * {
          margin: 15px 0px;
        }
        h1 {
          font-size: 1rem;
        }
        h2 {
          font-size: 0.825rem;
        }
        .formLarge {
          width: 100%;
          @extend %flexColumn;
          &.overflow {
            input {
              font-size: 1.8rem;
              position: relative;
              z-index: 0;
            }
          }
          input {
            text-align: center;
            font-size: 3rem;
            @extend %fontQuicksandBold;
            opacity: 0.4;
            border: none;
            transition: all 0.18s;
            background: transparent;
            width: 100%;
            &::placeholder {
              text-transform: capitalize;
            }
            &:focus {
              opacity: 1;
              outline-style: none;
              box-shadow: none;
              border-color: transparent;
            }
          }
        }
      }
    }
    .sidebar {
      .menu {
        @extend %zeroPaddingMargin;
        @extend %flexColumn;
        justify-content: center;
        li {
          list-style: none;
          padding: 10px 25px;
          @extend %zeroPaddingMargin;
          svg {
            fill: transparent;
            rect {
              stroke: var(--black);
            }
            width: 23px;
            height: auto;
          }
        }
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    span {
      margin-left: 5px;
      font-size: 0.825rem;
    }
    svg {
      width: 20px;
      height: auto;
    }
  }
  .buttonDefault {
    all: unset;
    font-size: 0.825rem;
    cursor: pointer;
    color: var(--pink) !important;
  }
}
