@import url("https://fonts.googleapis.com/css?family=Lato:400,400i|Quicksand:700&display=swap");

:root {
  --quicksand: "Quicksand", sans-serif;
  --lato: "Lato", sans-serif;
  --green: #0e4749;
}

body {
  margin: 0;
  font-family: var(--lato), -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--quicksand);
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
