@import url("https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,700&display=swap");

:root {
  --quicksand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --green: #56d666;
  --green2: #66dc75;
  --green3: #eaffed;
  --black: #333333;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto), -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--quicksand);
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}